@font-face {
  font-family: 'LabGrotesque-Thin';
  src: url(../fonts/LabGrotesque-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'ScaniaSansCYHeadline-Regular';
  src: url(../fonts/ScaniaSansCYHeadline-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'ScaniaSansCY-Regular';
  src: url(../fonts/ScaniaSansCY-Regular.ttf) format('truetype');
}